#wrapper {
    width: 900px; /*OBS! Se till att räkna ut totalbredd osv! ATM -2px i bredd pga border*/
    background-color: whitesmoke;
    padding: 10px; 
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 5px;
    height: 120px;
    margin-bottom: 10px;
    text-align: center;
    background-size: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 222, 222);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
  }
  
  li a:hover {
    background-color: lavender;
  }

.sokruta{
    float: right;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sokruta ::placeholder{
    float: right;
}

main{
   display: flex;   
}


#content{
    flex: 1;
    margin: 10px;
    padding: 10px;
    width: auto;
}

section{
    background-color: lavender;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 80%;
    float: left; 
}

a {
    float: right;
    margin-right: 15px;
    padding: 5px;
    color: black;
}

a:hover{
    background-color: whitesmoke;
}


footer{
    background-color: rgb(255, 222, 222);
    /*height: 50px;*/
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
    padding: 10px;
}

footer p{
    font-size: smaller;
}

.home{
    font-size: xx-small;
}

.historia{
    background-color: lavender;
    border-radius: 8px;
    width: 900px;
    margin: 15px;
    padding: 35px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.historia p::first-letter{
    font-size: larger;
}

.etikintegritet{
    background-color: lavender;
    border-radius: 8px;
    width: 900px;
    margin: 15px;
    padding: 35px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.etikintegritet p::first-letter{
    font-size: larger;
}

.bloggi{
    background-color: lavender;
    border-radius: 8px;
    width: 900px;
    margin: 15px;
    padding: 35px;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bloggi p::first-letter{
    font-size: larger;
}

.skrivet{
    line-height: 0.0;
}

.skrivet p::first-letter{
    font-size: medium;
}

/* Styling av sökrutan */
.form_text input[type="text"] {
    padding: 5px;
    border: 1px solid lightgrey; 
    border-radius: 8px;
    width: 200px; 
  }
  
  /* Styling av sökknappen */
  .form_text input[type="submit"] {
    padding: 10px;
    border: 1px solid lightgray; 
    border-radius: 8px; 
    background-color: white; 
  }

.form_text input[type="submit"]:hover {
    background-color: lightgray;
  }


